@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
:root {
  height: 100%;
  width: 100%;
}

::-webkit-scrollbar {
  display: none;
}

html {
  scrollbar-width: none;
  -ms-overflow-style: none;
}

::selection {
  background: #f15bb5;
}
::-moz-selection {
  background: #f15bb5;
}